<div class="row">
  <div class="col-md-12">
  <div  id="widget-container">
    <% @last_longterms.each do |longterm| %>
      <div class="widget col-md-4" id="<%= longterm[:hosts]["id"] %>">
        <div class="content">
        <p><%= longterm[:hosts]["name"].nil? ? longterm[:hosts]["id"] : longterm[:hosts]["name"] %></p>
        <% if longterm[:longterm].nil? %>
          <p>Waiting for data from the host.</p>
        <!-- Add catch for host data over five minutes and display waiting for data message -->
        <% else %>
          <!-- Add catch for cpu usage null and display collecting data message -->
          <div class="host-cpu pie-chart" data-percent="<%= number_with_precision longterm[:longterm]["CPU.total.usage"], precision: 2 %>">
            <span class="stat-value">
              <%= number_to_percentage longterm[:longterm]["CPU.total.usage"], precision: 2 %>
            </span>
            <span class="stat-label">
              CPU
            </span>
          </div>
          <div class="host-memory pie-chart" data-percent="<%= number_with_precision Longterm.calculate_memory_usage(longterm[:longterm]), precision:2 %>">
            <span class="stat-value">
              <%= number_to_percentage Longterm.calculate_memory_usage(longterm[:longterm]), precision:2 %>
            </span>
            <span class="stat-label">
              Memory
            </span>
          </div>
          <div class="host-swap pie-chart" data-percent="<%= number_with_precision Longterm.calculate_swap_usage(longterm[:longterm]), precision:2 %>">
            <span class="stat-value">
              <%= number_to_percentage Longterm.calculate_swap_usage(longterm[:longterm]), precision:2 %>
            </span>
            <span class="stat-label">
              Swap
            </span>
          </div>
          <div class="host-load pie-chart" data-percent="<%= number_with_precision longterm[:longterm]["Load"]/Longterm.calculate_max_load(longterm[:longterm]) * 100, precision:2 %>">
            <span class="stat-value">
              <%= number_with_precision longterm[:longterm]["Load"], precision:2 %>
            </span>
            <span class="stat-label">
              Load
            </span>
          </div>
          <!-- Add catch for network usage null and display collecting data message -->
          <div class="host-network pie-chart" data-percent="<%= number_with_precision (longterm[:longterm]["Network.Interface.total.Bps"].to_f/Longterm.get_highest_network_usage_in_range(longterm[:longterm]).to_f) * 100 , precision:2 %>">
            <span class="stat-value">
              <%= (longterm[:longterm]["Network.Interface.total.Bps"] / 1024).round(1) %> KBps
            </span>
            <span class="stat-label">
              Network
            </span>
          </div>
          <div class="last-updated">
            Last updated at <%= Time.at longterm[:longterm]["timestamp"] %>
          </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>