<div class="row">
  <div class="col-md-8">
    <h3 class="name"><%= @host["name"] %></h3>
    <h4>CPU</h4>
    <div id="cpu-flot" data-flot-height="250"></div>
    <h4>Memory</h4>
    <div id="memory-flot" data-flot-height="250"></div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <p class="hostname"><%= @instant["SysInfo.hostname"] %></p>
      <ul>
        <li><%= @instant["SysInfo.os.dist"]%> <%= @instant["SysInfo.os.distversion"]%> (<%= @instant["SysInfo.kernel"] %>)</li>
        <li><%= @instant["SysInfo.cpu.type"] %></li>
        <li>Uptime <%= distance_of_time_in_words_to_now Time.at(Time.now.to_i - @instant["Uptime"].to_i) %></li>
      </ul>
    </div>
    <h5>Load</h5>
    <div id="load-flot" data-flot-height="120"></div>
    <h5>Network</h5>
    <div id="network-flot" data-flot-height="120"></div>
    <h5>Disk IO</h5>
    <div id="disk-flot" data-flot-height="120"><%= debug @disk_reads %></div>
  </div>
</div>